# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Operating systems
.DS_Store
Thumbs.db

# Python cache / testing
.pytest_cache/
.coverage

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Environment variables
.env

# Trained models
models/*.keras
models/*.h5

# Results generated automatically
results/**/*.png
results/**/*.csv
results/**/*.json